@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* vino es el color principal->752933 vino mas oscuro -> 7e1f2b*/
body {
  background: #752933; /* fallback for old browsers*/
  background: -webkit-linear-gradient(right, #752933, #7e1f2b); 
  background: -moz-linear-gradient(right, #752933, #7e1f2b);
  background: -o-linear-gradient(right, #752933, #7e1f2b);
  background: linear-gradient(to left, #752933, #7e1f2b);
  font-family: 'Lato', sans-serif;     
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.login-page{
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.register-page{
  width: 600px;
  padding: 4% 0 0;
  margin: auto;
}
.register{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 600px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.edit-page{
  width: 900px;
  padding: 4% 0 0;
  margin: auto;
}
.edit{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 900px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.table-page{
  width: 800px;
  padding: 4% 0 0;
  margin: auto;
}
.table{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 800px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input{
  font-family: "Lato", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button{
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #752933;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus{
  background: #7e1f2b;
}
.form .message{
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a{
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form{
  display: none;
}
.container{
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after{
  content: "";
  display: block;
  clear: both;
}
.container .info{
  margin: 50px auto;
  text-align: center;
}
.container .info h1{
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span{
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a{
  color: #000000;
  text-decoration: none;
}
.container .info span .fa{
  color: #EF3B3A;
}

.navbar-header{
  font-weight: bold;
  font-size: 26px;
  padding: 10px;
  color: #FFFFFF;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
    border-radius: 0;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #BEBEBE;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #6a1a24;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

label{
  position: relative;
  display: inline-block;
  margin: 0 0 20px;
  margin-left: 40px;
  float: left;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=file],
textarea,
select{
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 500px;
  border: 1px solid #eaeaea;
  padding: 10px 20px;
  font-size: 14px;
  color: #333;
  margin-bottom: 14px;
}

form{
  position: relative;
  display: block;
  margin-top: 50px;
}

a.boton,
input[type=submit],
button{
  position: relative;
  display: block;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
  color: #333;
  background-color: #752933;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

input[readonly]{
  user-select: none;
  pointer-events: none;
  background-color: #F0F0F0;
}

.progress-bar{
  background-color: #752933;
}
